{% load staticfiles %}
{% load future %}
<!DOCTYPE html>
<head>

        
      <!--<link rel="stylesheet" href="{% static 'css/page.css' %}" media="screen" />-->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/calendar-eightysix-v1.1-default.css' %}" media="screen" />-->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/calendar-eightysix-v1.1-vista.css' %}" media="screen" />-->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/calendar-eightysix-v1.1-osx-dashboard.css' %}" media="screen" />-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->

    
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="{% static 'js/mootools-1.2.4-core.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mootools-1.2.4.4-more.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/calendar-eightysix-v1.1.js' %}"></script>
    
      <script type="text/javascript">
    	
      	window.addEvent('domready', function() {
      		//Example I
      		new CalendarEightysix('id_set_date', { 'offsetY': -4 });
      	});	
      </script>

    {% block head %}{% endblock %}
</head>
<html>
    <head>
        <title>{% block title %}Title{% endblock %}</title>
    </head>
    <body>
    

<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
			 <span class="sr-only">Toggle navigation</span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 </button> 
			 <a class="navbar-brand" href="http://umkkaea539e4.mish.koding.io/HomePage/HomePage.html">
			    Home</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="http://umkkaea539e4.mish.koding.io/fblogin-basic-master/fblogin-basic-master/index.php">Login</a>
					
				</li>

			</ul>
		</div>
		
	</nav>
    
        <!--<div class="page-header">-->
        <!--    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
        <!--    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>-->
        <!--    <h1><a href="{% url 'blog.views.post_list' %}">Django Girl</a></h1>-->
        <!--</div>  -->
        
                {% block content %}
                {% endblock %}

        
        
    </body>
</html>
