body{
    font-family: arial,tahoma,sans-serif;
    margin-top:30px;
    background-color:#75B9BE;
}
#background{
    margin: 0;
    padding: 0;
    display: none;
}
#calendar{
    height: auto;
    width: 80%;
    margin-left:10%;
    background-image:url("../img/calendar.png");
    position: relative;
    display: none;
    background-size: cover;
}

.months{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    margin: 0;
    font-weight:800;
    color:#004149;
}

#month{
    margin-left:10%;
    
}

#currentMonth{
    font-size: 2em;
    text-align: center;
    padding: 0px 70px 0 70px;
    margin: 0px;
    cursor: default;
    font-weight:1000;
}

#prevMonth{
    font-size: 1em;
    cursor: pointer;
    font-weight:800;
}

#nextMonth{
    font-size: 1em;
    cursor: pointer;
    font-weight:800;
}

#header div{
    text-align: center;
    font-weight:300;
    display: inline-block;
}
#week{
    margin-left:10%;
    text-align: center;
    width:84%;
    font-weight:800;
    font-size: 1.3em;
    color:#31345E;
    font-weight: bold;
}

div.dayName{
    width: 13%;
    float: left;
    margin: 2px;
    cursor: pointer;
}


.dayBox {
    width: 12%;
    height: 120px;
    float: left;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:#CECECE;
    box-shadow: rgba(80%,80%,80%,0.7) 2px 2px;
    background: rgba(100%,100%,100%,0.8);
}

.empty {

    width: 12%;
    height: 120px;
    float: left;
    margin: 2px;
    background: rgba(80%,80%,80%,0.7);
    border-radius: 4px;

}
.nullBox{
    width: 12%;
    height: 120px;
    float: left;
    margin: 2px;
    background: rgba(100%,100%,100%,0);
    border-radius: 4px;
}

.date {
    padding: 10px;
    font-size: .9em;
    font-weight:500;
    
}

.clear{
    clear: both;
}
.namebg{
    font-size: 1em;
    padding-left:3px;
    padding-top:3px;
    padding-right:3px;
    padding-bottom:3px;
    width:80%;
    background-color:#F7EF99;
    color:#111;
    box-shadow: rgba(80%,80%,80%,0.7) 2px 2px;
}
.itemname{
    padding-bottom:5px;
    direction:rtl; 
}