body{
    font-family: arial,tahoma,sans-serif;
    margin-top:60px;
    background-color:#75B9BE;
}
#background{
    margin: 0;
    padding: 0;
    display: none;
}
#calendar{
    height: auto;
    width: 80%;
    padding: auto;
    
    margin: auto;
    background-image:url("../img/calendar.png");
    position: relative;
    display: none;
    background-size: cover;
}

.months{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    margin: 0;
    font-weight:800;
    color:#004149;
}

#month{
    margin-left:100px;
    
}

#currentMonth{
    font-size: 2em;
    text-align: center;
    padding: 0px 70px 0 70px;
    margin: 0px;
    cursor: default;
    font-weight:1000;
}

#prevMonth{
    font-size: 1em;
    cursor: pointer;
    font-weight:800;
}

#nextMonth{
    font-size: 1em;
    cursor: pointer;
    font-weight:800;
}

#header div{
    text-align: center;
    font-weight:300;
    display: inline-block;
}
#week{
    margin-left:100px;
    font-weight:800;
    font-size: 1.3em;
    color:#31345E;
}

.dayName p{
    margin: 2px;
    width: 120px;
    font-size: .9em;
    font-weight: bold;
    padding: auto;
    text-align: center;
}

.dayBox {
    width: 120px;
    height: 120px;
    float: left;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(80%,80%,80%,0.7) 2px 2px;
    background: rgba(100%,100%,100%,0.8);
}

.empty {

    width: 120px;
    height: 120px;
    float: left;
    margin: 2px;
    background: rgba(80%,80%,80%,0.7);
    border-radius: 4px;

}
.nullBox{
    width: 120px;
    height: 120px;
    float: left;
    margin: 2px;
    background: rgba(100%,100%,100%,0);
    border-radius: 4px;
}

.date {
    padding: 5px;
    font-size: .9em;
}

.clear{
    clear: both;
}
li.photo{
    padding:300px;
}