body{
    text-align:center;
    padding-left: 25%; 
    padding-top:1%;
    background-color:"#75B9BE";
} 

.panel{
    width: 50%;
    height: 50%;
    border: 2px solid #c3c3c3;
    text-align:left;
    padding-left: 5%;
    padding-top:5%;
    background-color:"#E2F89C";
 
}

/*.scroll_b {*/
/*    border-radius: 10px;*/
/*    height: auto;*/
/*    width: 80%;*/
/*    background-color: #fff;*/
/*    position: relative;*/
/*    overflow: scroll;*/
/*    text-align:center;*/
/*}*/

#fcs_div_54b51fe417d62{
    width: 50%;
    height: 50%;
    text-align:center;
    padding-bottom: 1%; 
    background-color:"#D5E1A3"; 
    
}

