{% extends 'mysite/base.html' %}
{% load future %}

{% block content %}
    <div class="date">
    {% if post.published_date %}
        {{ post.published_date }}
    {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <h1>{{ post.title }}</h1>
    <!--<p style='font-family:verdana; font-size:16;'>{{ post.text1 }}</p>-->
    <p style="layout-grid-mode:char"><span style="font-family:微軟正黑體">{{ post.text1 }}</span><span lang="zh-CN">
        
{% endblock %}
