* {
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";    
}
#dpop{
    width: 1200px;
    height: auto;
}
.bubbleInfo {
    position: relative;
    /*top: 150px;
    left: 200px;*/
}


/* Bubble pop-up */

.popup {
    position: absolute;
    display: none;
    z-index: 50;
    border-collapse: collapse;
}

.popup td.corner {
    height: 15px;
    width: 19px;
}

.popup td#topleft { background-image: url(../img/bubble-1.png); }
.popup td.top { background-image: url(../img/bubble-2.png); }
.popup td#topright { background-image: url(../img/bubble-3.png); }
.popup td.left { background-image: url(../img/bubble-4.png); }
.popup td.right { background-image: url(../img/bubble-5.png); }
.popup td#bottomleft { background-image: url(../img/bubble-6.png); }
.popup td.bottom { background-image: url(../img/bubble-7.png); text-align: center;}
.popup td.bottom img { display: block; margin: 0 auto; }
.popup td#bottomright { background-image: url(../img/bubble-8.png); }

.popup table.popup-contents {
    font-size: 20px;
    line-height: 1.2em;
    background-color: rgba(100%,100%,100%,0.6);
    color: #666;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    }

table.popup-contents th {
    text-align: right;
    text-transform: lowercase;
    }

table.popup-contents td {
    text-align: left;
    }

tr#release-notes th {
    text-align: left;
    text-indent: -9999px;
    background: url(../img/starburst.gif) no-repeat top right;
    height: 17px;
    }

tr#release-notes td a {
    color: #333;
}
