{% extends 'mysite/base.html' %}
{% load future %}
  {% block content %}     

<html lang="en">
<head>
  
  
 

<!-- Latest compiled and minified JavaScript -->

{% load staticfiles%}
    <!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/guilde.css' %}">
 
</head>
 


<body>
	
    <div id="guildbg">
        <h1 id="guildtitle">FACETIVAL</h1>
        <h2 id="guildsubtitle">面對面分享不同的節慶體驗</h2>
        <div id="goto"><button type="button" class="btn btn-primary" ><a href="http://festival-rdia0117-2.c9.io/HomePage/">前往FACETIVAL</a></button></div>
    </div>
    	
      


{% endblock %}         

  
 
    </body>
</html>


