{% extends 'mysite/base.html' %}
{% load staticfiles %}
<html>
    <head>
      

        
        
        
    </head>
    <body>
    	
    	<h1>New post</h1>
    	
      {% block content %}
      
    	{% if documents %}
			<ul>
			{% for document in documents %}
			
				<a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
				<!--<li><img src="{{ document.docfile.url }}" width="42" height="42"></li>-->
				<img src="{{ document.docfile.url }}" width="420" height="320">
				
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.Mish</p>
		{% endif %}  
		
	     <form  method="post" enctype="multipart/form-data">
	    	{% csrf_token %}
	    	<!--<p>{{ formUpload.non_field_errors }} </p>-->
	    	<!--<p>{{ formUpload.docfile.label_tag }} {{ formUpload.docfile.help_text }} </p>-->
	    	<!--<p>-->
	    	<!--    {{ formUpload.docfile.errors }} {{ formUpload.docfile }}  -->
	    	<!--</p>-->
	    	<p>
	    	    
	    	</p>
	     </form>
      
         

    
    <form method="POST" class="post-form"  enctype="multipart/form-data">{% csrf_token %}
        <input type="submit" value="Upload" name="upload" />
        {{ form.as_p }}
		
        <button type="submit" name="save" class="save btn btn-default">Save</button>
        
        
    </form>
	
{% endblock %}
</body>
</html>